[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh-plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "vim/pack/vendor/start/rust.vim"]
	path = vim/pack/vendor/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/pack/vendor/start/vim-gitgutter"]
	path = vim/pack/vendor/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/vendor/start/vim-airline"]
	path = vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/vendor/start/vim-airline-themes"]
	path = vim/pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/vendor/start/vim-colors-solarized"]
	path = vim/pack/vendor/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "agnoster-zsh-theme"]
	path = zsh/plugins/agnoster-zsh-theme
	url = git@github.com:agnoster/agnoster-zsh-theme.git
